
/* Navbar buttons equal width for screens >= lg */
@media (min-width: 992px) { /* Bootstrap lg breakpoint */
  .navbar-nav .nav-item,
  .nav .nav-item {
    width: 25%; /* Equal width - 4 nav buttons */
  }
}


/* Landing page */

.card.landing-card {
    border: none;
}

.contact-btn {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 100;
    transform: translateX(40%) rotate(-90deg);
    transform-origin: center;
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    padding: 0 1.5rem;
    /* background-image: linear-gradient(to right, #a67b0d, #ecd598); */
}

/* .contact-btn:before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    background-image: linear-gradient(
        120deg,
        rgba(255,255,255, 0) 30%,
        rgba(255,255,255, .8),
        rgba(255,255,255, 0) 70%
    );
    top: 0;
    left: -100px;
    animation: shine 4s infinite linear;
}

@keyframes shine {
    0% {left: -100px}
    20% {left: 100%}
    100% {left: 100%}
} */

