/* .btn-group .btn-secondary:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group .dropdown-toggle-split {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
} */


.navbar .btn-group .btn-secondary:first-child {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.navbar .btn-group .dropdown-toggle-split {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}