
$primary: #ddbb62;
$secondary: #0c395a;

// $font-family-base: 'Poiret One', sans-serif;
$font-family-base: 'Outfit', sans-serif;
$font-family-brand: 'Playfair Display', sans-serif;

@import '../node_modules/bootstrap/scss/bootstrap';
@import 'custom';