<!-- Footer -->
<footer class="font-footer border-top border-primary bg-secondary">
  <div class="container-fluid pt-3">
    
    <!-- Footer - Quick Links on screens < md breakpoint -->
    <div class="row d-md-none justify-content-center">
      <div class="col-10 justify-content-center mx-auto mt-1 text-secondary">
        <p class="text-center mb-1 fw-light text-white">Quick Links</p>
        <ul class="d-flex flex-wrap justify-content-center px-0 lh-sm fw-lighter">
          <li class="list-group-item py-0 px-2"><a href="/antiques/">Antiques</a></li>
          <li class="list-group-item py-0 px-2"><a href="/art/">Art</a></li>
          <li class="list-group-item py-0 px-2"><a href="/militaria/">Militaria</a></li>
          <li class="list-group-item py-0 px-2"><a href="/vintage/">Vintage</a></li>
          <li class="list-group-item py-0 px-2"><a href="/contact/">Contact</a></li>
          <li class="list-group-item py-0 px-2"><a href="/">Home</a></li>
        </ul>
      </div>
    </div>

    <!-- Footer - contact details -->
    <div class="row justify-content-between justify-content-md-center">
      <div class="col-6 col-md-3 d-flex flex-column align-items-center mt-1 text-secondary">
        <p class="mb-1 fw-light text-white">Contact Us</p>
        <ul class="px-0 lh-sm fw-lighter">
          <li class="list-group-item py-1 px-0"><a href="mailto:nickbutlermiles@gmail.com">nickbutlermiles@gmail.com</a></li>
          <li class="list-group-item py-1 px-0"><a href="tel:+447700777000">+447815848805</a></li>
          <li class="list-group-item py-1 px-0 text-primary">
              Top Floor<br>
              37 Catherine Street<br>
              Salisbury<br>
              SP1 2DH<br>
          </li>
        </ul>
      </div>

      <!-- Footer - Quick Links on screens > md breakpoint -->
      <div class="col-md-4 d-none d-md-flex flex-column align-items-center mt-1 text-secondary">
        <p class="text-center mb-1 fw-light text-white">Quick Links</p>
        <ul class="d-flex flex-wrap justify-content-center px-0 lh-sm fw-lighter">
          <li class="list-group-item py-0 px-2"><a href="/antiques/">Antiques</a></li>
          <li class="list-group-item py-0 px-2"><a href="/art/">Art</a></li>
          <li class="list-group-item py-0 px-2"><a href="/militaria/">Militaria</a></li>
          <li class="list-group-item py-0 px-2"><a href="/vintage/">Vintage</a></li>
          <li class="list-group-item py-0 px-2"><a href="/contact/">Contact</a></li>
          <li class="list-group-item py-0 px-2"><a href="/">Home</a></li>
        </ul>
      </div>

      <!-- Footer - legal -->
      <div class="col-6 col-md-3 d-flex flex-column align-items-center justify-content-lg-start mt-1">
        <p class="text-secondary mb-1 fw-light text-white">&copy; <span id="current-year"></span> Butler-Miles. All rights reserved.</p>
        <ul class="px-0 lh-sm fw-lighter">
          <li class="list-group-item py-1 px-0"><a href="/privacy-policy/">Privacy Policy</a></li>
          <li class="list-group-item py-1 px-0"><a href="/terms/">Terms of Use</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>