<!-- Page heading -->
<section>
    <div class="container-fluid justify-content-center py-3">
        <div class="row justify-content-center">
            <div class="col col-lg-10 text-secondary mx-4">
                <h1 class="display-2 brand-font border-bottom border-2 border-primary pb-3">{{ page_heading }}</h1>
                <p class="brand-font fst-italic pb-1">{{ sub_category_headings }}</p>
                <p class="mx-4">{{ page_description }}</p>
            </div>
        </div>
    </div>
</section>