    <!-- Contact sidebar btn - vertical/right -->
    <section id="offcanvas-trigger-button">
      <button class="btn contact-btn text-secondary border-primary btn-metallic" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="contact-sidebar">Contact us</button>
    </section>