<!-- Contact sidebar btn - vertical/right -->
<section id="offcanvas-trigger-button">
  <button class="btn btn-secondary contact-btn text-primary border-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="contact-sidebar">Contact us</button>
</section>