<!-- Contact sidebar component -->
<section class="offcanvas-contact-form">
  <div class="offcanvas offcanvas-end bg-secondary text-primary" tabindex="-1" id="sidebar" aria-labelledby="offcanvasContactForm">
    <div class="offcanvas-header">
      <h4 class="offcanvas-title" id="contact-sidebar">Contact Us</h4>
      <button type="button" class="btn-close bg-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

      <!-- contact form -->
      <form name="contact" action="" netlify>
        <input type="hidden" name="form-name" value="contact" />
        <!-- name field -->
        <div class="mb-3">
          <label for="name-input" class="form-label">Name:</label>
          <input name="Name" type="text" class="form-control" id="name-input" required>
        </div>
        <!-- phone field -->
        <div class="mb-3">
          <label for="phone-input" class="form-label">Phone:</label>
          <input name="Telephone" type="tel" class="form-control" id="phone-input">
        </div>
        <!-- email field -->
        <div class="mb-3">
          <label for="email-input" class="form-label">Email address:</label>
          <input name="Email" type="email" class="form-control" id="email-input" required>
        </div>
        <!-- subject field -->
        <div class="mb-3">
          <label for="subject-input" class="form-label">Reason for your enquiry:</label>
          <select name="Subject" class="form-select" id="subject" required>
            <option value="enquiry" selected>General enquiry</option>
            <option value="selling">Interested in selling</option>
            <option value="specific-item">Looking for a specific item</option>
          </select>
        </div>
        <!-- query text field -->
        <div class="mb-3">
          <label for="enquiry" class="form-label">Your query:</label>
          <textarea name="Text" id="enquiry" class="form-control" cols="20" rows="5" maxlength="1500" placeholder="Please briefly explain the nature of your enquiry and I will respond ASAP..." required></textarea>
        </div>
        <!-- Hidden honeypot field for spam filtering -->
        <input type="hidden" name="bot-field" />
        <!-- submit btn -->
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-secondary border-twotone btn-press text-primary rounded-pill py-2">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>