                <div class="col-12 col-md-6 mb-5">
                  <div class="card border-none text-secondary mt-2">
                    <div class="card-body border-none p-2">
                      <div class="card-title border-bottom border-2 border-primary pb-3 brand-font">
                        <h3>{{ card.subcat_title }}</h3>
                      </div>
                      <div class="card-text">
                        <p>{{ card.subcat_description }}</p>
                      </div>
                      <!-- Sub-category carousel -->
                      {% include "subcat_card_carousel.njk" %}
                    </div>
                  </div>
                </div>