<div class="carousel-item active">
    <img src="{{ image.src }}" class="d-block w-100" alt="{{ image.label }}">
    <div class="carousel-caption d-none d-md-block">
      <h5>{{ image.label }}</h5>
      <p><sm>May not represent current stock.</sm></p>
    </div>
  </div>