---
layout: base.njk
title: About
pageId: about
sidebar_vertical_btn: true
---
      <section>
          <div class="container-fluid justify-content-center py-3">
              <div class="row justify-content-center ">
                  <div class="col-10">
                      <h1 class="display-4 text-secondary brand-font border-bottom border-2 border-primary pb-3">ABOUT US</h1>
                      <p class="text-secondary ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet magni nesciunt aperiam, ullam suscipit optio?</p>
                  </div>
              </div>
          </div>
      </section>