---
layout: base.njk

title: Antiques
pageId: antiques
sidebar_vertical_btn: true

page_heading: ANTIQUES
sub_category_headings: Ceramics, Coins, Jewellery, Silver
page_description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint harum magnam atque suscipit incidunt unde amet totam, tenetur, veniam dicta nihil id quae, voluptates natus. Labore culpa, optio fugiat doloremque quisquam velit veritatis, omnis dolorum iusto distinctio ipsa eius debitis!

cards:
  - subcat_title: Ceramics
    subcat_description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo ad, soluta maxime ea sint quasi porro aut ab voluptas est eveniet nemo laborum, minima vel officiis id dignissimos dicta alias. Nostrum, assumenda magnam at fugiat dicta iure ab unde nobis.
    carousel:
      carousel_id: ceramicsCarousel
      images:
        - src: https://fakeimg.pl/300/
          label: Blank image 1
        - src: https://fakeimg.pl/300/
          label: Blank image 2

  - subcat_title: Coins
    subcat_description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos exercitationem veritatis eligendi fugit, aliquid quia fugiat ullam in tenetur minima, repudiandae eveniet culpa! Architecto, sapiente.
    carousel:
      carousel_id: coinsCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2

  - subcat_title: Jewellery
    subcat_description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum at maxime velit accusamus ullam impedit maiores debitis beatae. Distinctio consequatur veritatis perspiciatis mollitia perferendis officia exercitationem provident temporibus voluptates odio ut vitae aspernatur, sit repellat ducimus incidunt architecto.
    carousel:
      carousel_id: jewelleryCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2

  - subcat_title: Silver
    subcat_description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, velit consectetur pariatur animi voluptates dolor doloribus laboriosam architecto quaerat minus.
    carousel:
      carousel_id: silverCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2
---
<!-- Antiques page heading-->
{% include "page_heading.njk" %}
<section>
  <div class="container-lg mt-3">
    <div class="row justify-content-center">
      <!-- Antiques cards -->
      {% for card in cards %}
        {% include "subcat_card_layout.njk" %}
      {% endfor %}
    </div>
  </div>
</section>