---
layout: base.njk

title: Antiques
pageId: antiques
sidebar_vertical_btn: true

page_heading: ANTIQUES
sub_category_headings: Clocks & Watches, Coins, Jewellery, Silver
page_description: At Butler-Miles, we believe antiques are more than just objects—they are pieces of history waiting to be rediscovered. While our primary focus is militaria, we also deal in a carefully curated selection of antiques, ranging from rare finds to accessible treasures. Our ever-changing collection includes coins, jewellery, silverware, and timepieces, each chosen with an appreciation for craftsmanship and historical significance. Whether you're a collector, an investor, or simply someone who appreciates the past, we offer a unique selection backed by expert knowledge and research into every item's history.

cards:
  - subcat_title: Clocks & Watches
    subcat_description: For those who appreciate the beauty of mechanical craftsmanship, we offer a selection of vintage automatic watches and small mantel clocks. Our range includes classic brands such as Omega, Rolex, Longines, and more. While we specialize in sales, we also have trusted connections for servicing and restoration, ensuring your timepiece remains in perfect working order.
    carousel:
      carousel_id: ceramicsCarousel
      images:
        - src: https://fakeimg.pl/300/
          label: Blank image 1
        - src: https://fakeimg.pl/300/
          label: Blank image 2

  - subcat_title: Coins
    subcat_description: We specialize in milled silver coins, offering a selection that spans historical periods and global mints. Our stock varies, but past highlights include Edward VII 1905 Florins, Victorian crowns and half crowns, and the sought-after 1936 San Francisco Bay Bridge 50c. Whether you're a numismatist or a first-time buyer, our collection offers something of interest.
    carousel:
      carousel_id: coinsCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2

  - subcat_title: Jewellery
    subcat_description: Our jewellery collection features elegant gold and silver rings, adorned with both precious and semi-precious stones, alongside classic necklaces that have stood the test of time. Each piece is chosen for its craftsmanship and unique story, making it a perfect heirloom or investment in style.
    carousel:
      carousel_id: jewelleryCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2

  - subcat_title: Silver
    subcat_description: We source exquisite decorative silver and fine tableware, with a focus on distinguished makers such as Paul Storr, Elkington & Co, and Charles Horner. Whether you're looking for a statement piece or a functional antique, our collection reflects the artistry and elegance of silverwork through the ages.
    carousel:
      carousel_id: silverCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2
---
<!-- Antiques page heading-->
{% include "page_heading.njk" %}
<section>
  <div class="container-lg mt-3">
    <div class="row justify-content-center">
      <!-- Antiques cards -->
      {% for card in cards %}
        {% include "subcat_card_layout.njk" %}
      {% endfor %}
    </div>
  </div>
</section>