---
layout: base.njk

title: Art
pageId: art
sidebar_vertical_btn: true

page_heading: ART
sub_category_headings: Originals, Prints
page_description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint harum magnam atque suscipit incidunt unde amet totam, tenetur, veniam dicta nihil id quae, voluptates natus. Labore culpa, optio fugiat doloremque quisquam velit veritatis, omnis dolorum iusto distinctio ipsa eius debitis!

cards:
  - subcat_title: Originals
    subcat_description: Originals description...
    carousel:
      carousel_id: originalsCarousel
      images:
        - src: https://fakeimg.pl/300/
          label: Blank image 1
        - src: https://fakeimg.pl/300/
          label: Blank image 2

  - subcat_title: Prints
    subcat_description: Prints description...
    carousel:
      carousel_id: printsCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2
---
<!-- Art page heading -->
{% include "page_heading.njk" %}
<section>
  <div class="container-lg mt-3">
    <div class="row justify-content-center">
      <!-- Art cards -->
      {% for card in cards %}
        {% include "subcat_card_layout.njk" %}
      {% endfor %}
    </div>
  </div>
</section>