---
layout: base.njk

title: Art
pageId: art
sidebar_vertical_btn: true

page_heading: ART
sub_category_headings: Originals, Prints
page_description: At Butler-Miles, we believe art should be as varied and unique as the people who collect it. Our carefully curated selection includes original paintings, watercolors, sketches, and high-quality prints from a broad range of artists, styles, and time periods. From historical masterpieces to contemporary works, we source pieces that captivate collectors, art enthusiasts, and decorators alike. Whether you're searching for a striking original or a collectible print, our collection offers something for every taste.

cards:
  - subcat_title: Originals
    subcat_description: We specialize in original artworks spanning centuries and styles, from classical to modern. Our collection has included works by Arthur Dudley (also known as Giovanni Barbaro), Adriaen De Gryef (c. 1670-1715), and William Barnes Boadle. Most pieces are framed, but we also handle unframed works, ensuring a variety of options for collectors.
    carousel:
      carousel_id: originalsCarousel
      images:
        - src: https://fakeimg.pl/300/
          label: Blank image 1
        - src: https://fakeimg.pl/300/
          label: Blank image 2

  - subcat_title: Prints
    subcat_description: Our print collection includes a mix of limited edition, vintage, and general prints, featuring artists such as David Shepherd, Peter Archer, and Stuart Lloyd. Whether you're drawn to wildlife scenes, landscapes, or historical depictions, our range covers diverse styles and periods, offering accessible and collectible art for all.
    carousel:
      carousel_id: printsCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2
---
<!-- Art page heading -->
{% include "page_heading.njk" %}
<section>
  <div class="container-lg mt-3">
    <div class="row justify-content-center">
      <!-- Art cards -->
      {% for card in cards %}
        {% include "subcat_card_layout.njk" %}
      {% endfor %}
    </div>
  </div>
</section>
