---
layout: base.njk
title: Home
pageId: home
sidebar_vertical_btn: True
---
      <!-- Landing - title -->
      <section>
        <div class="container-fluid pt-5">
          <!-- title -->
          <div class="row bg-secondary justify-content-center pt-2">
            <div class="col-10 col-md-8">
              <h1 class="display-1 text-primary brand-font text-center text-lg-start">BUTLER-MILES</h1>  
            </div>
          </div>
          <!-- tagline -->
          <div class="row bg-secondary justify-content-center pb-3">
            <div class="col-10 col-md-8">
              <h3 class="lead text-primary text-center text-lg-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad accusamus accusantium ex molestiae nemo autem.</h3>
            </div>
          </div>
        </div>
      </section>

      <!-- Landing - category cards -->
      <section>
        <div class="container-fluid mt-5">
          <div class="row justify-content-lg-evenly">
            <!-- Antiques card -->
            <div class="col-sm-6 col-lg-3 g-2">
              <div class="card h-100 border-none bg-secondary text-primary mt-2">
                <div class="card-body border-none pb-1">
                  <div class="card-title border-bottom border-primary border-2 pb-3 brand-font">
                    <h3 >ANTIQUES</h3>
                  </div>
                  <div class="card-text">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magni, aliquam illo provident eligendi suscipit!</p>
                  </div>
                  <ul class="list bg-secondary">
                    <li class="list-item">Ceramics</li>
                    <li class="list-item">Coins</li>
                    <li class="list-item">Jewellery</li>
                    <li class="list-item">Silver</li>
                  </ul>
                </div>
                <div class="d-flex justify-content-center mb-3">
                  <a href="antiques.html" role="button" class="btn btn-secondary border-primary text-primary rounded-pill btn-press">See more</a>
                </div>
              </div>
            </div>
            <!-- Art card -->
            <div class="col-sm-6 col-lg-3 g-2">
              <div class="card h-100 border-none bg-secondary text-primary mt-2">
                <div class="card-body border-none pb-1">
                  <div class="card-title border-bottom border-primary border-2 pb-3 brand-font">
                    <h3 >ART</h3>
                  </div>
                  <div class="card-text">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magni, aliquam illo provident eligendi suscipit!</p>
                  </div>
                  <ul class="list bg-secondary">
                    <li class="list-item">Originals</li>
                    <li class="list-item">Prints</li>
                  </ul>
                </div>
                <div class="d-flex justify-content-center mb-3">
                  <a href="art.html" role="button" class="btn btn-secondary border-primary text-primary rounded-pill btn-press">See more</a>
                </div>
              </div>
            </div>
            <!-- Militaria card -->
            <div class="col-sm-6 col-lg-3 g-2">
              <div class="card h-100 border-none bg-secondary text-primary mt-2">
                <div class="card-body border-none pb-1">
                  <div class="card-title border-bottom border-primary border-2 pb-3 brand-font">
                    <h3 >MILITARIA</h3>
                  </div>
                  <div class="card-text">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magni, aliquam illo provident eligendi suscipit!</p>
                  </div>
                  <ul class="list bg-secondary">
                    <li class="list-item">Medals</li>
                    <li class="list-item">Badges</li>
                    <li class="list-item">Bayonets & Swords</li>
                    <li class="list-item">Uniforms</li>
                    <li class="list-item">Ephemera</li>
                  </ul>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <a href="militaria.html" role="button" class="btn btn-secondary border-primary text-primary rounded-pill btn-press">See more</a>
                </div>
              </div>
            </div>
            <!-- Vintage card -->
            <div class="col-sm-6 col-lg-3 g-2">
              <div class="card h-100 border-none bg-secondary text-primary mt-2">
                <div class="card-body border-none pb-1">
                  <div class="card-title border-bottom border-primary border-2 pb-3 brand-font">
                    <h3 >VINTAGE</h3>
                  </div>
                  <div class="card-text">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magni, aliquam illo provident eligendi suscipit!</p>
                  </div>
                  <ul class="list bg-secondary">
                    <li class="list-item">Collectibles</li>
                    <li class="list-item">Toys</li>
                  </ul>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <a href="vintage.html" role="button" class="btn btn-secondary border-primary text-primary rounded-pill btn-press">See more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
