---
layout: base.njk
title: Home
pageId: home
sidebar_vertical_btn: True
---
      <!-- Landing - title -->
      <section>
        <div class="container-fluid pt-5">
          <div class="row bg-secondary justify-content-center pt-2">
            <!-- title -->
            <div class="col-10 col-md-8">
              <h1 class="display-1 text-primary brand-font text-center text-lg-start">BUTLER-MILES</h1>  
            </div>
          </div>
          <!-- tagline -->
          <div class="row bg-secondary justify-content-center pb-3">
            <div class="col-10 col-md-8">
              <h3 class="lead text-primary text-center text-lg-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad accusamus accusantium ex molestiae nemo autem.</h3>
            </div>
          </div>
        </div>
      </section>

      <!-- Landing - category cards -->
      <section>
        <div class="container-fluid my-3">
            <div class="row">
                <!-- Antiques card -->
                <div class="col-12 col-sm-6 col-lg-3 my-4">
                    <div class="card h-100 border-none text-secondary m-2">
                      <div class="card-body border-none p-2">
                        <div class="card-title border-bottom border-2 border-primary pb-3 brand-font">
                            <h3>ANTIQUES</h3>
                        </div>
                        <div class="card-text">
                            <p class="brand-font fst-italic pb-2">Ceramics, Coins, Jewellery, Silver</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae eaque saepe facere! Ipsum, excepturi voluptatibus!</p>
                        </div>
                      </div>
                      <div class="px-2 mb-2">
                          <a href="antiques.html" role="button" class="btn btn-light border-primary text-secondary rounded-pill shadow btn-press">See more</a>
                      </div>
                    </div>
                </div>
                <!-- Art card -->
                <div class="col-12 col-sm-6 col-lg-3 my-4">
                    <div class="card h-100 border-none text-secondary m-2">
                      <div class="card-body border-none p-2">
                        <div class="card-title border-bottom border-2 border-primary pb-3 brand-font">
                            <h3 >ART</h3>
                        </div>
                        <div class="card-text">
                            <p class="brand-font fst-italic pb-2">Originals, Prints</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ab ratione provident voluptates consequatur distinctio voluptate doloremque voluptatibus autem assumenda.</p>
                        </div>
                      </div>
                      <div class="px-2 mb-2">
                          <a href="art.html" role="button" class="btn btn-light border-primary text-secondary rounded-pill shadow btn-press">See more</a>
                      </div>
                    </div>
                </div>
                <!-- Militaria card -->
                <div class="col-12 col-sm-6 col-lg-3 my-4">
                    <div class="card h-100 border-none text-secondary m-2">
                      <div class="card-body border-none p-2">
                        <div class="card-title border-bottom border-2 border-primary pb-3 brand-font">
                            <h3 >MILITARIA</h3>
                        </div>
                        <div class="card-text">
                            <p class="brand-font fst-italic pb-2">Badges, Bayonets/Swords, Ephemera, Medals, Uniforms</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam minima itaque tempora at blanditiis! Error nihil adipisci nam?</p>
                        </div>
                      </div>
                      <div class="px-2 mb-2">
                          <a href="militaria.html" role="button" class="btn btn-light border-primary text-secondary rounded-pill shadow btn-press">See more</a>
                      </div>
                    </div>
                </div>
                <!-- Vintage card -->
                <div class="col-12 col-sm-6 col-lg-3 my-4">
                    <div class="card h-100 border-none text-secondary m-2">
                      <div class="card-body border-none p-2">
                        <div class="card-title border-bottom border-2 border-primary pb-3 brand-font">
                            <h3 >VINTAGE</h3>
                        </div>
                        <div class="card-text">
                            <p class="brand-font fst-italic pb-2">Collectibles, Toys</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A explicabo quaerat repellat quod, doloribus molestias laboriosam doloremque libero, alias optio magni atque.</p>
                        </div>
                      </div>
                      <div class="px-2 mb-2">
                          <a href="vintage.html" role="button" class="btn btn-light border-primary text-secondary rounded-pill shadow btn-press">See more</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
