---
layout: base.njk
title: Home
pageId: home
sidebar_vertical_btn: True
---
      <!-- Landing-->
      <section>
        <div class="container-fluid">
            <div class="row d-flex flex-column-reverse flex-lg-row">
                <!-- Landing-left - category cards -->
                <div class="col-12 col-lg-6">
                  <!-- top row -->
                    <div class="row pb-3">
                        <!-- Antiques card -->
                        <div class="col-12 col-sm-6">
                            <div class="card h-100 border-none text-secondary m-2">
                                <div class="card-body d-flex flex-column justify-content-between border-none p-2 pb-0">
                                    <div class="p-0">
                                        <div class="card-title border-bottom border-2 border-primary pb-3 brand-font">
                                            <h3>ANTIQUES</h3>
                                        </div>
                                        <div class="card-text">
                                            <p class="brand-font fst-italic pb-2">Ceramics, Coins, Jewellery, Silver</p>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae eaque saepe facere! Ipsum, excepturi voluptatibus!</p>
                                        </div>
                                    </div>
                                    <div class="pb-2">
                                        <a href="antiques.html" role="button" class="btn border-primary text-secondary rounded-pill shadow-sm btn-press">See more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Art card -->
                        <div class="col-12 col-sm-6">
                            <div class="card h-100 border-none text-secondary m-2">
                                <div class="card-body d-flex flex-column justify-content-between border-none p-2 pb-0">
                                    <div class="p-0">
                                        <div class="card-title border-bottom border-2 border-primary pb-3 brand-font">
                                            <h3>ART</h3>
                                        </div>
                                        <div class="card-text">
                                            <p class="brand-font fst-italic pb-2">Originals, Prints</p>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ab ratione provident voluptates consequatur distinctio voluptate doloremque voluptatibus autem assumenda.</p>
                                        </div>
                                    </div>
                                    <div class="pb-2">
                                        <a href="art.html" role="button" class="btn border-primary text-secondary rounded-pill shadow-sm btn-press">See more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- bottom row -->
                    <div class="row pb-3">
                        <!-- Militaria Card -->
                        <div class="col-12 col-sm-6">
                            <div class="card h-100 border-none text-secondary m-2">
                                <div class="card-body d-flex flex-column justify-content-between border-none p-2 pb-0">
                                    <div class="p-0">
                                        <div class="card-title border-bottom border-2 border-primary pb-3 brand-font">
                                            <h3>MILITARIA</h3>
                                        </div>
                                        <div class="card-text">
                                            <p class="brand-font fst-italic pb-2">Badges, Bayonets/Swords, Ephemera, Medals, Uniforms</p>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam minima itaque tempora at blanditiis! Error nihil adipisci nam?</p>
                                        </div>
                                    </div>
                                    <div class="pb-2">
                                        <a href="militaria.html" role="button" class="btn border-primary text-secondary rounded-pill shadow-sm btn-press">See more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Vintage card -->
                        <div class="col-12 col-sm-6">
                            <div class="card h-100 border-none text-secondary m-2">
                                <div class="card-body d-flex flex-column justify-content-between border-none p-2 pb-0">
                                    <div class="p-0">
                                        <div class="card-title border-bottom border-2 border-primary pb-3 brand-font">
                                            <h3>VINTAGE</h3>
                                        </div>
                                        <div class="card-text">
                                            <p class="brand-font fst-italic pb-2">Collectibles, Toys</p>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A explicabo quaerat repellat quod, doloribus molestias laboriosam doloremque libero, alias optio magni atque.</p>
                                        </div>
                                    </div>
                                    <div class="pb-2">
                                        <a href="vintage.html" role="button" class="btn border-primary text-secondary rounded-pill shadow-sm btn-press">See more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Landing-right - title  -->
                <div class="col-12 col-lg-6 bg-secondary d-flex align-items-center justify-content-center pt-3">
                    <div class="d-flex flex-column justify-content-center">
                        <h1 class="display-1 text-primary brand-font text-center">BUTLER-MILES</h1>
                        <h3 class="lead text-primary text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad accusamus accusantium ex molestiae nemo autem.</h3>
                    </div>
                </div>
            </div>
        </div>
      </section>
