---
layout: base.njk

title: Home
pageId: home
sidebar_vertical_btn: false

tagline: Preserving the Past – Specialists in Militaria, Antiques, and Collectibles

carousel_images:
  - src: https://fakeimg.pl/250x100/
    label: Blank image 1
  - src: https://fakeimg.pl/250x100/
    label: Blank image 2
  - src: https://fakeimg.pl/250x100/
    label: Blank image 3
  - src: https://fakeimg.pl/250x100/
    label: Blank image 4

cards:
  - category: ANTIQUES
    subcats: Clocks & Watches, Coins, Jewellery, Silver
    btn_href: /antiques/

  - category: ART
    subcats: Originals, Prints
    btn_href: /art/

  - category: MILITARIA
    subcats: Badges, Bayonets/Swords, Ephemera, Medals, Uniforms
    btn_href: /militaria/

  - category: VINTAGE
    subcats: Collectibles, Toys
    btn_href: /vintage/
---

<div class="container-fluid pt-5">
  <div class="row bg-secondary py-5 border-bottom border-top border-1 border-primary">
    <!-- Landing - title -->
    <div class="col-12 col-lg-6 bg-secondary text-primary d-flex flex-column justify-content-center align-items-center text-center py-2">
      <!-- title -->
      <h1 class="display-2 brand-font">BUTLER-MILES</h1>  
      <!-- tagline -->
      <h6 class="lead ">{{ tagline }}</h6>
      <!-- contact btn -->
      <div class="text-center my-3">
        <button class="btn btn-secondary text-primary border-2 border-twotone rounded-pill shadow btn-press py-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="contact-sidebar">Contact Us</button>
      </div>
    </div>
    
    <!-- Landing - carousel -->
    <div class="col-12 col-lg-6 my-auto">
      <div id="landingCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            {% for image in carousel_images %}
              <button type="button" data-bs-target="#{{ card.carousel.carousel_id }}" data-bs-slide-to="{{ loop.index0 }}" class="{{ 'active' if loop.first }}" aria-current="{{ 'true' if loop.first }}" aria-label="Slide {{ loop.index }}"></button>
            {% endfor %}
          </div>

          <div class="carousel-inner">
            <!-- Carousel images -->
            {% for image in carousel_images %}
              <div class="carousel-item {% if loop.first %}active{% endif %}">
                  <img src="{{ image.src }}" class="d-block w-100" alt="{{ image.label }}">
                  <div class="carousel-caption d-none d-md-block">
                      <h5>{{ image.label }}</h5>
                      <p><sm>May not represent current stock.</sm></p>
                  </div>
              </div>
            {% endfor %}   

            <button class="carousel-control-prev" type="button" data-bs-target="#landingCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#landingCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- Landing - category cards -->
<section>
  <div class="container-fluid my-3">
    <div class="row">
      {% for card in cards %}
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card h-100 border-none text-secondary">
              <div class="card-body border-none d-flex flex-column justify-content-between">
                <div class="card-title border-bottom border-2 border-primary pb-3 brand-font">
                    <h3>{{ card.category }}</h3>
                </div>
                <div class="card-text">
                    <p class="brand-font fst-italic">{{ card.subcats }}</p>
                </div>
                <div class="">
                    <a href="{{ card.btn_href }}" role="button" class="btn btn-light border-primary text-secondary rounded-pill shadow btn-press">See more</a>
                </div>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>