---
layout: base.njk

title: Militaria
pageId: militaria
sidebar_vertical_btn: True

page_heading: MILITARIA
sub_category_headings: Badges, Bayonets/Swords, Ephemera, Medals, Uniforms
page_description: Militaria is at the heart of Butler-Miles. Specializing primarily in British military history from the Georgian era to modern times, our collection spans cap badges, swords, medals, documents, and uniforms—each with a story to tell. Whether you're a dedicated collector, a historian, a museum curator, or someone with an interest in military heritage, we offer a carefully curated selection of artifacts that bring the past to life. Every piece is thoroughly researched, ensuring its authenticity and historical significance.

cards:
  - subcat_title: Badges
    subcat_description: Military badges have long served as markers of rank, allegiance, and unit identity. Our selection includes a wide range of British and Commonwealth insignia, spanning centuries of military tradition. We stock cap badges, helmet plates, shoulder and collar titles, and cloth brigade and divisional patches, each representing a piece of military history. Notable items include
    subcat_bullets:
      - First World War Pal’s Battalion and Naval Division badges – Rare and highly sought-after, these badges were worn by volunteers who joined up together in the famous "Pals Battalions," as well as those in the Royal Naval Division.
      - George V Guards Machine Gun Regiment cap badge – A distinctive and relatively scarce badge representing the short-lived Guards Machine Gun Regiment, established during WWI and later absorbed into the Guards Brigade.
      - 1st Wilts Volunteer Rifle Corps (VRC) – A regimentally marked badge reflecting the early days of rifle corps formations in Britain.
    carousel:
      carousel_id: badgesCarousel
      images:
        - src: https://fakeimg.pl/300/
          label: Blank image 1
        - src: https://fakeimg.pl/300/
          label: Blank image 2

  - subcat_title: Bayonets/Swords
    subcat_description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis corrupti, magni quis excepturi iure dolorem. Officia consequatur soluta voluptas in eos cumque, corrupti facere ut temporibus necessitatibus accusamus atque. Doloremque maiores amet rerum aliquam!
    carousel:
      carousel_id: bayonetsSwordsCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2

  - subcat_title: Ephemera
    subcat_description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio sunt at delectus omnis. Unde ea a harum exercitationem quo nisi quos ab illum blanditiis eum.
    carousel:
      carousel_id: ephemeraCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2

  - subcat_title: Medals
    subcat_description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, sed! Nobis, inventore cupiditate animi odit maiores rerum explicabo dolorem ad distinctio eius harum unde necessitatibus iusto beatae assumenda fugit voluptatibus vitae et totam odio quasi.
    carousel:
      carousel_id: medalsCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2

  - subcat_title: Uniforms
    subcat_description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque omnis quisquam tempore eum esse adipisci autem rerum odio quo officiis sit provident nostrum vero earum nemo nulla culpa hic, iusto sapiente saepe nihil aspernatur dicta distinctio. Modi qui non quod?
    carousel:
      carousel_id: uniformsCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2
---
<!-- Militaria page heading -->
{% include "page_heading.njk" %}
<section>
  <div class="container-lg mt-3">
    <div class="row justify-content-center">
      <!-- Militaria cards -->
      {% for card in cards %}
        {% include "subcat_card_layout.njk" %}
      {% endfor %}
    </div>
  </div>
</section>