---
layout: base.njk

title: Militaria
pageId: militaria
sidebar_vertical_btn: True

page_heading: MILITARIA
sub_category_headings: Badges, Bayonets/Swords, Ephemera, Medals, Uniforms
page_description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint harum magnam atque suscipit incidunt unde amet totam, tenetur, veniam dicta nihil id quae, voluptates natus. Labore culpa, optio fugiat doloremque quisquam velit veritatis, omnis dolorum iusto distinctio ipsa eius debitis!

cards:
  - subcat_title: Badges
    subcat_description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur atque culpa numquam, necessitatibus cum deserunt eius blanditiis temporibus officia adipisci? Odio, exercitationem qui. Debitis molestias sed libero iste fugit, accusantium a id ad rerum eveniet ducimus ex repudiandae. Itaque, et.
    carousel:
      carousel_id: badgesCarousel
      images:
        - src: https://fakeimg.pl/300/
          label: Blank image 1
        - src: https://fakeimg.pl/300/
          label: Blank image 2

  - subcat_title: Bayonets/Swords
    subcat_description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis corrupti, magni quis excepturi iure dolorem. Officia consequatur soluta voluptas in eos cumque, corrupti facere ut temporibus necessitatibus accusamus atque. Doloremque maiores amet rerum aliquam!
    carousel:
      carousel_id: bayonetsSwordsCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2

  - subcat_title: Ephemera
    subcat_description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio sunt at delectus omnis. Unde ea a harum exercitationem quo nisi quos ab illum blanditiis eum.
    carousel:
      carousel_id: ephemeraCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2

  - subcat_title: Medals
    subcat_description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, sed! Nobis, inventore cupiditate animi odit maiores rerum explicabo dolorem ad distinctio eius harum unde necessitatibus iusto beatae assumenda fugit voluptatibus vitae et totam odio quasi.
    carousel:
      carousel_id: medalsCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2

  - subcat_title: Uniforms
    subcat_description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque omnis quisquam tempore eum esse adipisci autem rerum odio quo officiis sit provident nostrum vero earum nemo nulla culpa hic, iusto sapiente saepe nihil aspernatur dicta distinctio. Modi qui non quod?
    carousel:
      carousel_id: uniformsCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2
---
<!-- Militaria page heading -->
{% include "page_heading.njk" %}
<section>
  <div class="container-lg mt-3">
    <div class="row justify-content-center">
      <!-- Militaria cards -->
      {% for card in cards %}
        {% include "subcat_card_layout.njk" %}
      {% endfor %}
    </div>
  </div>
</section>