---
layout: base.njk

title: Militaria
pageId: militaria
sidebar_vertical_btn: True

page_heading: MILITARIA
sub_category_headings: Badges, Bayonets/Swords, Ephemera, Medals, Uniforms
page_description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint harum magnam atque suscipit incidunt unde amet totam, tenetur, veniam dicta nihil id quae, voluptates natus. Labore culpa, optio fugiat doloremque quisquam velit veritatis, omnis dolorum iusto distinctio ipsa eius debitis!

cards:
  - subcat_title: Badges
    subcat_description: Badges description...
    carousel:
      carousel_id: badgesCarousel
      images:
        - src: https://fakeimg.pl/300/
          label: Blank image 1
        - src: https://fakeimg.pl/300/
          label: Blank image 2

  - subcat_title: Bayonets/Swords
    subcat_description: Bayonets/Swords description...
    carousel:
      carousel_id: bayonetsSwordsCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2

  - subcat_title: Ephemera
    subcat_description: Ephemera description...
    carousel:
      carousel_id: ephemeraCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2

  - subcat_title: Medals
    subcat_description: Medals description...
    carousel:
      carousel_id: medalsCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2

  - subcat_title: Uniforms
    subcat_description: Uniforms description...
    carousel:
      carousel_id: uniformsCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2
---
<!-- Militaria page heading -->
{% include "page_heading.njk" %}
<section>
  <div class="container-lg mt-3">
    <div class="row justify-content-center">
      <!-- Militaria cards -->
      {% for card in cards %}
        {% include "subcat_card_layout.njk" %}
      {% endfor %}
    </div>
  </div>
</section>