---
layout: base.njk
title: Vintage
pageId: vintage
sidebar_vertical_btn: True
---
      <section>
        <div class="container-fluid justify-content-center py-3">
          <!-- Vintage title/ description -->
          <div class="row justify-content-center">
            <div class="col col-lg-10 text-secondary mx-4">
              <h1 class="display-2 brand-font border-bottom border-2 border-primary pb-3">VINTAGE</h1>
              <p class="brand-font fst-italic pb-1">Collectibles, Toys</p>
              <p class="mx-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint harum magnam atque suscipit incidunt unde amet totam, tenetur, veniam dicta nihil id quae, voluptates natus. Labore culpa, optio fugiat doloremque quisquam velit veritatis, omnis dolorum iusto distinctio ipsa eius debitis!</p>
            </div>
          </div>
          <!-- Vintage - 'Go to' dopdown links -->
          <div class="row justify-content-center">
            <div class="col-10 col-sm-4 col-md-3 col-lg-2">
              <div class="dropdown dropdown-center">
                <button class="btn btn-secondary border-twotone border-2 text-primary dropdown-toggle rounded-pill w-100 shadow btn-press py-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">Go to</button>
                <ul class="dropdown-menu border-primary">
                  <li class="dropdown-item text-secondary"><a href="#collectibles" class="nav-link">Collectibles</a></li>
                  <li class="dropdown-item text-secondary"><a href="#toys" class="nav-link">Toys</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Vintage carousel -->
      <section>
        <div class="container-md my-3">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-8 mb-3">
              <div id="vintageCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#vintageCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#vintageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#vintageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#vintageCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://fakeimg.pl/250x100/" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>First slide label</h5>
                      <p><sm>May not represent current stock.</sm></p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="https://fakeimg.pl/250x100/" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Second slide label</h5>
                      <p><sm>May not represent current stock.</sm></p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="https://fakeimg.pl/250x100/" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Third slide label</h5>
                      <p><sm>May not represent current stock.</sm></p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="https://fakeimg.pl/250x100/" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Fourth slide label</h5>
                      <p><sm>May not represent current stock.</sm></p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#vintageCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#vintageCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Vintage - cards -->
      <section>
        <div class="container-fluid py-4">
          <!-- Collectibles card -->
          <div id="collectibles" class="row justify-content-center my-3">
            <div class="col col-lg-10">
              <div class="card text-secondary h-100 border-none">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-md-8">
                      <div class="card-title border-bottom border-2 border-primary pb-3 brand-font text-lg-end">
                        <h3 class="display-6">Collectibles</h3>
                      </div>
                      <div class="card-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus tempore ullam blanditiis maiores provident, dignissimos fuga corporis incidunt, quas itaque ab quisquam sit neque voluptates adipisci quos dolorum, dicta vitae! Temporibus ipsum aperiam magni, beatae unde labore excepturi deserunt non.</p>
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="d-flex justify-content-center justify-content-lg-end">
                        <img class="img-fluid" src="https://fakeimg.pl/300/" alt="...">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Toys card -->
          <div id="toys" class="row justify-content-center">
            <div class="col col-lg-10">
              <div class="card text-secondary h-100 border-none">
                <div class="card-body">
                  <div class="row d-flex flex-row-reverse">
                    <div class="col-12 col-md-8">
                      <div class="card-title border-bottom border-2 border-primary pb-3 brand-font">
                        <h3 class="display-6">Toys</h3>
                      </div>
                      <div class="card-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus tempore ullam blanditiis maiores provident, dignissimos fuga corporis incidunt, quas itaque ab quisquam sit neque voluptates adipisci quos dolorum, dicta vitae! Temporibus ipsum aperiam magni, beatae unde labore excepturi deserunt non.</p>
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="d-flex justify-content-center justify-content-lg-start">
                        <img class="img-fluid" src="https://fakeimg.pl/300/" alt="...">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
