---
layout: base.njk

title: Vintage
pageId: vintage
sidebar_vertical_btn: True

page_heading: VINTAGE
sub_category_headings: Collectibles, Toys
page_description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint harum magnam atque suscipit incidunt unde amet totam, tenetur, veniam dicta nihil id quae, voluptates natus. Labore culpa, optio fugiat doloremque quisquam velit veritatis, omnis dolorum iusto distinctio ipsa eius debitis!

cards:
  - subcat_title: Collectibles
    subcat_description: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae illum architecto ipsum dolores laborum beatae magni hic magnam, doloribus culpa provident at. Libero esse sapiente aliquid et ipsam minima eos!
    carousel:
      carousel_id: collectiblesCarousel
      images:
        - src: https://fakeimg.pl/300/
          label: Blank image 1
        - src: https://fakeimg.pl/300/
          label: Blank image 2

  - subcat_title: Toys
    subcat_description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, ullam ut repudiandae magnam deleniti obcaecati odio maiores officiis! Suscipit reprehenderit iure dolores dolorem illum aut delectus tempora sit perspiciatis possimus facilis labore repellendus vel distinctio provident, necessitatibus ipsam! Nostrum, blanditiis!
    carousel:
      carousel_id: toysCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2
---
<!-- Vintage page heading -->
{% include "page_heading.njk" %}
<section>
  <div class="container-lg mt-3">
    <div class="row justify-content-center">
      <!-- Vintage cards -->
      {% for card in cards %}
        {% include "subcat_card_layout.njk" %}
      {% endfor %}
    </div>
  </div>
</section>