---
layout: base.njk

title: Vintage
pageId: vintage
sidebar_vertical_btn: True

page_heading: VINTAGE
sub_category_headings: Collectibles, Toys
page_description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint harum magnam atque suscipit incidunt unde amet totam, tenetur, veniam dicta nihil id quae, voluptates natus. Labore culpa, optio fugiat doloremque quisquam velit veritatis, omnis dolorum iusto distinctio ipsa eius debitis!

cards:
  - subcat_title: Collectibles
    subcat_description: Collectibles description...
    carousel:
      carousel_id: collectiblesCarousel
      images:
        - src: https://fakeimg.pl/300/
          label: Blank image 1
        - src: https://fakeimg.pl/300/
          label: Blank image 2

  - subcat_title: Toys
    subcat_description: Toys description...
    carousel:
      carousel_id: toysCarousel
      images:
      - src: https://fakeimg.pl/300/
        label: Blank image 1
      - src: https://fakeimg.pl/300/
        label: Blank image 2
---

{% include "page_heading.njk" %}
<section>
  <div class="container-lg mt-3">
    <div class="row justify-content-center">
      {% for card in cards %}
        {% include "subcat_card_layout.njk" %}
      {% endfor %}
    </div>
  </div>
</section>