
.brand-font {
      font-family: $font-family-brand;
  }


  .btn-secondary {
    border-color: #ddbb62 #967a30 #967a30 #ddbb62 !important; // two-tone/shiny border effect
  
    &:hover,
    &:focus,
    &:active {
      border-color: darken($primary, 10%) !important; // Adjust border-color on hover/focus/active
    }
  }